<div class="ft-conatiner">
    <footer class="footer-wrapper">
        <ul class="link-list">
          <li class="link-column">
            <h4 class="link-title">Call</h4>
            <a class="link-item" href="tel:91 6382550740">+91 99948 92211</a>
          </li>
          <li class="link-column">
            <h4 class="link-title">Email</h4>
            <a class="link-item" href="mailto:sabari.rishi33@gmail.com">naveenkumar.s07012005&#64;gmail.com</a>
          </li>
        </ul>
        <div class="social-icons-container">
          <div class="company-container">
            <p class="slogan">© Copyright & All Rights Reserved</p>
          </div>
          <div class="social-container">
            <a class="social-icons" href="https://github.com/Naveen2005official">
              <img src="https://img.icons8.com/?size=100&id=62856&format=png&color=FFFFFF" alt="GitHub" width="48" height="48">
            </a>
            <a class="social-icons" href="www.linkedin.com/in/naveenkumar7105">
              <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="LinkedIn" width="48" height="48">
            </a>
            <a class="social-icons" href="https://www.instagram.com/naveenkumaroffic?igsh=eXd4YzR2Z2lva2V1">
              <img src="https://img.icons8.com/?size=100&id=32309&format=png&color=FFFFFF" alt="Instagram" width="48" height="48">
            </a>
          </div>
        </div>
      </footer>
</div>