<div>
    <app-navbar></app-navbar>
    <app-bg-animation></app-bg-animation>
    <app-profile></app-profile>
    <app-description></app-description>
    <app-divider></app-divider>
    <app-projects></app-projects>
    <app-divider></app-divider>
    <app-technologies></app-technologies>
    <app-divider></app-divider>
    <app-certifications></app-certifications>
    <app-divider></app-divider>
    <app-experiences></app-experiences>
    <app-divider></app-divider>
    <app-skills></app-skills>
    <app-divider></app-divider>
    <app-about></app-about>
</div>
