<div class="ex-container" id="experiences">
    <app-divider></app-divider>
    <h1>
        Experiences
    </h1>
    <div class="ex-1">
        <p class="section-head">
            Aravind Eye Care Systems (AUROiTECH)
        </p>
        <p class="dur">
            Feb 2024 - Jul 2024
        </p>
        <p class="section-text">
            Worked at AUROiTECH for 6 months, where I, along with my team, developed a support application for Aravind Eye Hospital from scratch. While collaborating on the project, I solely handled the entire backend development, designing and implementing APIs, database structures, and authentication mechanisms to ensure security and efficiency. I actively contributed to requirement analysis and problem-solving, optimizing system performance and functionality. Received a stipend of ₹10,000 per month for my contributions.
        </p>
        <div class="grid-container">
            <div class="blog-card">
                <img src="../../images/aec1.png" alt="Intern Offer Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true">Intern Offer Letter</h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="https://drive.google.com/file/d/1OeZDST_wGHu-NRBeP_4beTU1XBaT4N7l/view?usp=sharing" class="external-links">View</a></li>
                  </ul>
            </div>
            <div class="blog-card">
                <img src="../../images/aec2.png" alt="Intern Completion Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true">Intern Completion Letter</h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="https://drive.google.com/file/d/1y4B5p66gtAsUvbcIlZxCUUl0t1__U54A/view?usp=sharing" class="external-links">View</a></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="ex-2">
        <p class="section-head">
            NSIC Technical Service Center
        </p>
        <p class="dur">
            Dec 2023 - Jan 2024
        </p>
        <p class="section-text">
            During my 14-day internship, I gained hands-on experience in Android application development using Java and XML, with JavaFX for UI components. I focused on designing and implementing functional apps, applying core mobile development concepts. As part of the training, I worked on projects like a music player app, which enhanced my understanding of UI design, event handling, and best practices in mobile development.
        </p>
            <div class="grid-container">
            <div class="blog-card">
                <img src="../../images/nsic.png" alt="Intern Completion Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true">Intern Completion Letter</h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="https://drive.google.com/file/d/19tv4L3Xv9UDUdjuBw0TjrPiozKLIdkwa/view?usp=sharing" class="external-links">View</a></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="ex-3">
        <p class="section-head">
            Cognifyz Technologies
        </p>
        <p class="dur">
            Aug 2023 - Oct 2023
        </p>
        <p class="section-text">
            I successfully completed a one-month remote learning internship at Cognifyz Technologies as a Web Development Intern. During this period, I focused on HTML, CSS, and JavaScript, gaining hands-on experience in developing web pages, implementing functionalities, and improving interactivity using JavaScript.      
        </p>
        <div class="grid-container">
            <div class="blog-card">
                <img src="../../images/c1.png" alt="Intern Offer Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true">Intern Offer Letter</h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="https://drive.google.com/file/d/16nh1vDQMucGgKtLGAcG7uTExd34Qvvfd/view?usp=sharing" class="external-links">View</a></li>
                  </ul>
            </div>
            <div class="blog-card">
                <img src="../../images/c2.png" alt="Intern Completion Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true">Intern Completion Letter</h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="https://drive.google.com/file/d/1tYo0h4LA2hTHtYqQwOJQFmgxH-wBBIFK/view?usp=sharing" class="external-links">View</a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>