<div class="ex-container">
    <h1>
        Experiences
    </h1>
    <div class="ex-1">
        <p class="section-head">
            Aravind Eye Care Systems (AUROiTECH)
        </p>
        <p class="dur">
            Feb 2024 - Jul 2024
        </p>
        <p class="section-text">
            Worked at AUROiTECH for 6 months, where I, along with my team, developed a support application for Aravind Eye Hospital from scratch. While collaborating on the project, I solely handled the entire backend development, designing and implementing APIs, database structures, and authentication mechanisms to ensure security and efficiency. I actively contributed to requirement analysis and problem-solving, optimizing system performance and functionality. Received a stipend of ₹10,000 per month for my contributions.
        </p>
        <div class="grid-container">
            <div class="blog-card">
                <img src="" alt="Intern Offer Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true"></h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="" class="external-links">View</a></li>
                  </ul>
            </div>
            <div class="blog-card">
                <img src="" alt="Intern Completion Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true"></h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="" class="external-links">View</a></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="ex-2">
        <p class="section-head">
            NSIC Technical Service Center
        </p>
        <p class="dur">
            Dec 2023 - Jan 2024
        </p>
        <p class="section-text">
            During my 14-day internship, I gained hands-on experience in Android application development, focusing on designing and implementing functional apps. As part of the training, I worked on projects like a music player app, enhancing my understanding of mobile development concepts and best practices.        </p>
        <div class="grid-container">
            <div class="blog-card">
                <img src="" alt="Intern Completion Letter" class="img">
                <div class="title-content">
                    <h3 [class.header-three]="true"></h3>
                    <hr class="hr">
                </div>
                <p class="card-info"></p>
                  <ul class="utility-list">
                      <li><a href="" class="external-links">View</a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>