.desc-container
{
    max-width: 420px;
    width: 100%;
    margin: auto;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.d-container
{
    width: 470px;
    margin-left: 0;
}

h1
{
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 0%;
    font-weight: bold;
    width: 500px;
}

.typo
{
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
}

p
{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8;
}