<div class="sk-container" id="skills">
  <app-divider></app-divider>
    <h1>Skills</h1>
    <div class="list">
        <div *ngFor="let tech of skill1" class="list-item">
          <img [src]="tech.icon" alt="{{ tech.title }} icon" class="icon" />
          <div class="list-container">
            <h3 class="list-title">{{ tech.title }}</h3>
            <p class="list-paragraph">{{ tech.description }}</p>
          </div>
        </div>
      </div>
      <div class="list">
        <div *ngFor="let tech of skill2" class="list-item">
          <img [src]="tech.icon" alt="{{ tech.title }} icon" class="icon" />
          <div class="list-container">
            <h3 class="list-title">{{ tech.title }}</h3>
            <p class="list-paragraph">{{ tech.description }}</p>
          </div>
        </div>
      </div>
</div>